.navbar_wrapper {
  position: absolute;
  width: 70%;
  top: 30px;
  right: 30px;

  .navbar {
    width: 100%;
    padding: 14px 35px;
    justify-content: space-between;
    align-items: flex-end;

    border: 2px solid #fff;
    background: #8eb4c5;

    h4 {
      height: 32px;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 1.8px;
    }

    .nav_items_wrapper {
      position: relative;
      gap: 30px;
      font: 100 23px 'Nohemi sans';

      .current_page {
        position: absolute;
        color: #000;

        font-size: 8.3px;
        font-weight: 200;
        letter-spacing: 0.24px;

        top: -9px;
      }

      .current_page[data-current-page='transitions'] {
        left: 30px;
      }

      .current_page[data-current-page='shadows'] {
        left: 30px;
      }
    }
  }
}
